  body {
      margin: 0;
  }

  #gauche {
      float: left;
      width: 70%;
      height: 1000px;
      background-color: #EFECCA;
      padding: 10px;
  }

  #droite {
      background-color: #CEFFF8;
      height: 1000px;
      padding: 10px;
      padding-left: 71%;
  }

#label, #zoneTxt, #bouton, #infoLabel, #inputInfoLabel, #inputInfoId, #inputInfoButton, #ok, #infoLabel, #infoId, #infoButton, hr+span{
    margin: 5px;
}